
.icon-baby:before { content: '\e800'; } /* '' */
.icon-basket:before { content: '\e801'; } /* '' */
.icon-envelope:before { content: '\e802'; } /* '' */
.icon-marker:before { content: '\e803'; } /* '' */
.icon-restaurant-2:before { content: '\e804'; } /* '' */
.icon-restaurant-1:before { content: '\e805'; } /* '' */
.icon-restaurant:before { content: '\e806'; } /* '' */
.icon-cancel:before { content: '\e807'; } /* '' */
.icon-check:before { content: '\e808'; } /* '' */
.icon-clock:before { content: '\e809'; } /* '' */
.icon-search:before { content: '\e80a'; } /* '' */
.icon-next:before { content: '\e80b'; } /* '' */
.icon-right-arrow:before { content: '\e80c'; } /* '' */
.icon-next-bold:before { content: '\e80d'; } /* '' */
.icon-phone:before { content: '\e80e'; } /* '' */