@import "vars"


/*==========  Desktop First  ==========*/

// ≥1200px
+media-breakpoint-down(lg)
	.main-header .top-bar .time-work, .main-header .top-bar .phone
		margin-left: 15px
	.main-header .top-bar .callback span
		display: none
	.top-bar a.logo img
		width: 180px
	.main-header .top-bar .callback
		padding: 14px
	.main-header .main-navigation ul li
		margin-left: 20px
		a
			font-size: 14px
		&.menu-item-has-children > a::after
			margin-left: 3px
	.home-slider .owl-navigation
		text-align: right
		.owl-next
			float: none
			margin-left: 17px
	.home-slider .owl-home .item .slide-content h2
		margin-bottom: 10px
	.catalogue ul.products
		justify-content: space-around
// ≥992px
+media-breakpoint-down(md)
	.main-header .top-bar a.logo
		position: absolute
		left: 50%
		margin-left: -90px
	.main-header .top-bar .basket, .main-header .top-bar a.logo
		margin-top: 0
	.about .img-block::before
		display: none
	.about .img-block img
		top: 0
		left: 0
		display: block
		max-width: 100%
		margin: 0 auto
	.home-slider .owl-home .item 
		background-size: cover
		background-position: center center
		.slide-content
			position: relative
			padding: 30px 0 100px
		img
			display: none
	.main-footer
		padding-top: 39px
	.main-header .top-bar
		height: 91px
// ≥768px
+media-breakpoint-down(sm)
	.about .img-block
		top: 0
	.footer-contact
		margin-top: 40px
	.main-footer .social-icons
		text-align: center
	.main-footer a.program
		display: block
		text-align: center
		border-bottom: none
		text-decoration: underline
	.time-work-mobile-footer .phone
		margin-right: 0
		float: none
		margin-top: 0
		&::after
			content: ''
			display: block
			clear: both
		p
			font-size: 1.375em
			display: inline-block
			line-height: 50px
		a
			font-size: 1.875em
			float: right
	.time-work-mobile-footer .wrap-time-work::after
		content: ''
		display: block
		clear: both
		margin-bottom: 35px
	.time-work-mobile-footer .last-time-work
		float: right
		margin-right: 0
	.mobile-header-navigation a.btn span
		font-size: 14px
	.popup
		padding-left: 15px
		padding-right: 15px
		h2
			font-size: 2em
// ≥576px
+media-breakpoint-down(xs)
	.mobile-menu ul li a
		font-size: 1em
	.mobile-menu ul li .sub-menu li a i
		margin-right: 5px
	.mobile-menu ul li.menu-item-has-children > a::after
		line-height: 15px
	.time-work-mobile-footer .time-work
		float: none
		margin-bottom: 30px
	.time-work-mobile-footer .phone a
		font-size: 1.4em
	.time-work-mobile-footer .phone p
		font-size: 1.25em
		line-height: 37px
	.news .news-item .news-item-content
		height: auto
	.mobile-top-phone p
		font-size: 0.6em
	.mobile-top-phone p a
		margin-left: 0
	.mobile-header-navigation .open-search
		margin-right: 5px
		padding-left: 5px
		padding-right: 5px
/*==========  Mobile First  ==========*/

// ≤576px
+media-breakpoint-up(sm)

// ≤768px
+media-breakpoint-up(md)

// ≤992px
+media-breakpoint-up(lg)
	.mobile-menu, .time-work-mobile-footer, .hr-mobile, .hamburger, .mobile-top-phone, .mobile-header-navigation
		display: none !important

// ≤1200px
+media-breakpoint-up(xl)
