@import "vars"
@import "fonts"
@import "libs"

::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $default-font
	overflow-x: hidden
	color: $text
	input, textarea
		border: #666 1px solid
		outline: none
		&:focus:required:invalid
			border-color: red
		&:required:valid
			border-color: green

h1,h2,h3,h4,h5,h6
	font-family: $font-bold
	font-weight: normal

/* links */
a:link, a:visited
	color: $accent
	outline: none
	text-decoration: none
a:hover
	color: $accent

.img-responsive
	display: block
	max-width: 100%
	height: auto
	&.img-width
		width: 100%

.text-center
	text-align: center

b, strong
	font-weight: bold

a.logo
	display: inline-block
	img
		max-width: 255px
		max-height: 59px

// HEADER
.main-header
	.top-bar
		background-color: #fff
		height: 125px
		padding-top: 23px
		font-family: $font-bold
		a.logo
			margin-top: 9px
		a.logo, .time-work, .phone, .btn
			float: left
		.time-work
			margin-left: 30px
			h4
				text-transform: uppercase
				margin: 0 0 3px
				font-size: 0.750em
				line-height: 1.3
				font-weight: normal
			p
				margin: 0
				line-height: 1.5
				span
					color: $accent
		.first-time-work
			position: relative
			padding-left: 48px
			&::before
				content: ''
				font-family: fontello
				position: absolute
				left: 0
				top: 50%
				line-height: 1
				margin-top: -15px
				font-size: 30px
		.phone
			line-height: 1.3
			margin-left: 30px
			p
				text-transform: uppercase
				color: $accent
				margin: 0
				font-size: 0.750em
			a
				display: block
				color: $text
				font-size: 1.125em
				margin-bottom: 5px
		.callback
			margin: 15px 0 0 28px
			padding-left: 16px
		.basket
			float: right
			color: $text
			padding-top: 22px
			margin-top: 17px
			position: relative
			width: 45px
			.icon-basket
				font-size: 35px
				line-height: 1
				position: absolute
				top: 0
			span
				background-color: $accent
				color: #fff
				border-radius: 50%
				width: 23px
				font-size: 0.750em
				display: block
				text-align: center
				position: relative
	.main-navigation
		background-color: $accent
		height: 78px
		padding-top: 28px
		ul
			margin: 0
			padding: 0
			list-style: none
			li
				display: inline-block
				margin-left: 45px
				line-height: 1.2
				&:first-child
					margin-left: 0
				&.current-menu-item > a
					border-bottom: 1px solid #fff
				a
					color: #fff
					border-bottom: 1px solid $accent
					transition: $trans
					font-family: $font-bold
					&:hover
						border-color: #fff
				&.menu-item-has-children > a::after
					content: ''
					font-family: fontello
					display: inline-block
					position: absolute
					font-size: 11px
					transform: rotate(90deg)
					vertical-align: top
					line-height: 15px
					margin-left: 15px
					transition: $trans
				&.menu-item-has-children > a.active::after
					transform: rotate(270deg)
				&.vertical .sub-menu
					margin-left: -7.5px
					li
						display: block
						margin: 0 5px 12px
						text-align: left
						&:last-child
							margin-bottom: 0
						a
							font-size: 1em
				.sub-menu.visible
					display: block
				.sub-menu
					display: none
					position: absolute
					background-color: #fff
					padding: 16px 15px 
					border-bottom-right-radius: 4px
					border-bottom-left-radius: 4px
					z-index: 100
					border: 1px solid $accent
					margin-top: 27px
					.close-main-navigation
						position: absolute
						right: -12.5px
						top: -12.5px
						background-color: #fbc554
						border: 1px solid #fbc554
						color: #fff
						width: 25px
						height: 25px
						text-align: center
						line-height: 25px
						border-radius: 50%
						font-size: 12px
						z-index: 1000
						cursor: pointer
						transition: $trans
						&:hover
							background: #fff
							color: #fbc554
					li
						margin: 0 20px
						display: block
						display: inline-block
						text-align: center
						a
							color: $text
							font-size: 15px
							border: none
							&:hover
								color: #fac342
							i
								display: block
								color: $accent
								font-size: 40px
								margin-bottom: 15px
// END HEADER

// SLIDER
.home-slider
	position: relative
	.owl-navigation
		position: absolute
		bottom: 44px
		z-index: 100
		width: 100%
		.owl-prev, .owl-next
			padding: 0
			background-color: #fbc554
			border: none
			color: #fff
			width: 39px
			height: 39px
			border-radius: 50%
			cursor: pointer
			transition: $trans
			&:hover
				background-color: $accent
		.owl-prev
			transform: rotate(180deg)
		.owl-next
			float: right
	.owl-home .item
		position: relative
		.slide-content
			position: absolute
			top: 0
			width: 100%
			display: flex
			align-items: center
			height: 100%
			h2
				color: #fff
				font-size: 3.000em
				margin: 0
				line-height: 1.4
				margin-bottom: 26px
			p
				font-size: 1.125em
				color: #fff
				margin: 0
				margin-bottom: 14.5px
			a.btn
				margin-top: 14.5px
// END SLIDER

// ABOUT
.about
	padding: 102px 0 66px
	.content-block
		padding-right: 60px
		p
			font-size: 1.375em
			line-height: 1.45
	.img-block
		height: 100%
		max-width: 536px
		position: relative
		top: 44px
		&::before, img
			border-radius: 4px
			display: block
		&::before
			content: ''
			position: absolute
			top: 0
			width: 100%
			height: 100%
			background-color: $accent
		img
			position: relative
			top: 30px
			left: 30px
			box-shadow: $shadow
// END ABOUT

// NEWS
.news
	padding: 66px 0 83px
	.news-item
		box-shadow: $shadow
		border-radius: 4px
		margin-bottom: 30px
		padding-bottom: 24px
		transition: $trans
		&:hover
			box-shadow: $shadow-hover
		img
			width: 100%
			border-radius: 4px
		.news-item-content
			padding: 24px 34px 16px
			height: 227px
			overflow: hidden
			h3
				color: $accent
				margin: 0 0 3px
				font-size: 1.125em
			p.date
				font-size: 0.813em
				color: #858585
				margin-bottom: 11px
		a.btn.more-link
			padding-left: 50px
			padding-right: 50px
// END NEWS	

// FOOTER
.main-footer
	background-color: #1b231f
	padding-top: 111px
	padding-bottom: 30px
	&, a
		color: #fff
	.logo
		margin-bottom: 25px
	.menu-title
		font-size: 1.125em
		color: #575755
		margin: 0 0 37px
	.footer-nav
		margin-bottom: 30px
		ul
			margin: 0
			padding: 0
			list-style: none
			li
				line-height: 1.2
				margin-bottom: 15px
				max-width: 170px
				&.current-menu-item > a
					color: #fbb014
				.sub-menu
					display: none
					min-width: 100%
					margin-top: 10px
					li
						margin-bottom: 10px
				a
					font-family: $font-bold
					font-size: 0.938em
					&:hover
						color: #fbb014
				&.menu-item-has-children > a::after
					content: ''
					font-family: fontello
					font-size: 11px
					display: block
					float: right
					transform: rotate(90deg)
					margin-top: 3px
				&.menu-item-has-children > a.active
					color: #fbb014
					&::after
						transform: rotate(270deg)
						margin-top: 1px
	.dev
		text-align: center
		margin-top: 30px
		p
			margin-bottom: 0
			line-height: 1.2
			&, a
				color: #565E5A
// END FOOTER

// SEARCH BLOCK
.search-block
	background: #fbc554
	padding: 30px 0
	position: fixed
	min-width: 100%
	z-index: 1000
	display: none
	.close-search-block
		position: absolute
		bottom: -35px
		left: 50%
		margin-left: -22.5px
		cursor: pointer
		background-color: #fbc554
		height: 35px
		width: 45px
		border-bottom-right-radius: 4px
		border-bottom-left-radius: 4px
		transition: $trans
		display: flex
		align-items: center
		justify-content: center
		&:hover
			width: 100px
			margin-left: -50px
			& span
				display: block
		span
			display: none
			margin-left: 5px
		.icon-next
			transform: rotate(-90deg)
			display: inline-block
	#searchform
		position: relative
		input[type="text"]
			width: 100%
			font-size: 1.250em
			padding: 10px 15px
			background-color: #fbc554
			border: 1px solid #666
			border-radius: 4px
			min-height: 60px
		#searchsubmit
			position: absolute
			right: 0
			top: 0
			height: 100%
			font-size: 1.250em
			padding: 0 30px
			cursor: pointer
			background-color: #fbc554
			color: $text
			border-color: #666
			border-top-right-radius: 4px
			border-bottom-right-radius: 4px
			transition: $trans
			&:hover
				background-color: #fff
// END SEARCH BLOCK

// MOBILE FOOTER MENU
.mobile-menu
	ul
		margin: 0
		padding: 0
		list-style: none
		li
			line-height: 1
			a
				background-color: $accent
				color: #fff
				display: block
				border-top: 1px solid #fff
				text-transform: uppercase
				font-size: 1.500em
				font-family: $font-bold
				padding: 32px 26px 29px
				&.active::after
					transform: rotate(90deg)
			&.menu-item-has-children > a::after
				content: ''
				font-family: fontello
				display: inline-block
				float: right
				font-size: 16px
				vertical-align: middle
				line-height: 30px
			&.current-menu-item > a
				background-color: #fbc554
				color: $text
			.sub-menu
				display: none
				min-width: 100%
				li a
					background-color: #fff
					color: $text
					border-top: 1px solid #1b231f
					i
						color: $accent
						font-size: 38px
						vertical-align: middle
						margin-right: 28px
// END MOBILE FOOTER MENU

// TIME WORK MOBILE FOOTER
.time-work-mobile-footer
	background-color: #fff
	padding: 45px 0 60px
	.time-work, .phone
		float: left
	.time-work
		margin-right: 37px
		h4
			text-transform: uppercase
			margin: 0
			font-size: 0.750em
			line-height: 1.55
			font-weight: normal
		p
			margin: 0
			line-height: 1.3
			font-family: $font-bold
			font-size: 1.125em
			span
				color: $accent
	.phone
		margin-right: 28px
		margin-top: 10px
		p
			font-size: 0.750em
			font-family: $font-bold
			color: $accent
			margin: 0
			line-height: 1
		a
			color: $text
			font-family: $font-bold
			font-size: 1.125em
	a.btn
		float: right
		margin-top: 2px
// END TIME WORK MOBILE FOOTER

// HAMBURGER
.hamburger
	float: left
	padding: 8px 0
// END HAMBURGER

// MOBILE HEADER NAVIGATION
.mobile-header-navigation
	position: absolute
	z-index: 1000
	background-color: #fff
	min-width: 100%
	display: none
	padding-top: 15px
	.hamburger
		margin-top: 15px
		margin-right: 20px
	.time-work, .phone
		float: left
	.callback
		float: right
	.time-work
		margin-right: 15px
		h4
			text-transform: uppercase
			margin: 0
			font-size: 0.750em
			line-height: 1.55
			font-weight: normal
		p
			margin: 0
			line-height: 1.3
			font-family: $font-bold
			font-size: 0.750em
			span
				color: $accent
	.phone
		margin-right: 15px
		margin-top: 12px
		p
			font-size: 0.750em
			font-family: $font-bold
			color: $accent
			margin: 0
			line-height: 1
		a
			color: $text
			font-family: $font-bold
			font-size: 1.125em
	a.btn
		margin-top: 15px
		padding: 13px 12px
		font-size: 12px
	.open-search
		font-size: 14px
		background-color: $accent
		color: #fff
		float: right
		display: inline-block
		border-radius: 22px
		padding: 13px 10px
		height: 44.8px
		margin-top: 15px
		margin-right: 10px
	.mobile-menu
		margin-top: 20px
	.footer-mobile-header-navigation
		background-color: $text
		padding: 32px 0 40px
		&, & a
			color: #fff
		.footer-contact
			margin: 0
// END MOBILE HEADER NAVIGATION

// SALE
.sale-item
	border: 1px solid #c6c6c6
	border-radius: 4px
	padding: 21px 15px
	text-align: center
	margin-bottom: 30px
	min-height: 440px
	display: block
	img
		max-width: 100%
		margin-bottom: 21px
		border-radius: 4px
	h3
		font-family: $orpheus
		text-transform: uppercase
		font-size: 1.250em
		margin: 0
		line-height: 1.2
		margin-bottom: 5px
	.date
		color: $accent
		font-family: $font-bold
		font-size: 0.938em
		margin: 0 0 16px
	.description
		line-height: 1.2
		color: #575755
		p
			font-size: 1.063em
// END SALE

// SIDEBAR
.my-sidebar
	max-width: 233px
	position: sticky
	top: 5px
.widget
	margin-bottom: 30px
	box-shadow: 0px 4px 15px 0px rgba(0,0,0,0.15)
	border-radius: 4px
	border: 1px solid #c6c6c6
	padding-bottom: 8px
	.widget-title
		font-size: 1em
		padding: 18px 25px 17px
		background-color: #fbc554
		line-height: 1.2
		margin-bottom: 23px
		border-top-left-radius: 3px
		border-top-right-radius: 3px
	ul
		margin: 0
		padding: 0 25px
		list-style: none
		li
			line-height: 1.2
			margin-bottom: 14px
			&.current-menu-item > a
				color: #f5a84a
			a
				font-family: $font-bold
				color: $text
				&:hover
					color: #f5a84a
// END SIDEBAR

// OTHER STYLE
table
	width: 100%
td, th
	border: 1px solid #eaeaec
	padding: 9px 12px
th
	font-weight: normal
	font-family: $font-bold
h2.section-title, .page-title
	font-family: $orpheus
	font-size: 2.500em
	line-height: 1.2
	margin-bottom: 52px
	&::after
		content: ''
		display: block
		width: 100px
		height: 6px
		border-radius: 3px
		background-color: $accent
		margin-top: 27px
.catalogue .page-title::after
	display: none
a.btn, #place_order
	display: inline-block
	border: 1px solid $accent
	text-transform: uppercase
	color: #fff
	background-color: $accent
	line-height: 1.2
	padding: 13px 23px
	border-radius: 23px
	transition: $trans
	font-size: 0.875em
	font-family: $font-bold
	&:hover
		background-color: #fff
		color: $accent
#place_order
	margin: 0 auto
	display: block
	cursor: pointer
	font-size: 1.125em
a.btn.more-link
	background-color: #fbc554
	border-color: #fbc554
	color: $text
	padding-left: 57px
	padding-right: 57px
	&:hover
		background: none
		color: #fbc554
a.open-search
	color: #fff
	float: right
	&:hover, &.active
		color: #fcc041
	.icon-search
		font-size: 22px
		line-height: 1
#top
	position: fixed
	right: 15px
	bottom: 0
	background: #fbb014
	cursor: pointer
	padding: 5px 15px 0
	border-top-left-radius: 4px
	border-top-right-radius: 4px
	z-index: 1000
	border: 1px solid #fbb014
	border-bottom: 0
	transition: $trans
	&:hover
		color: #fbb014
		background: none
	.fas
		font-size: 40px
.fancybox-is-open .fancybox-bg
	opacity: .5
.popup
	background-color: #1d2323
	color: #fff
	border-radius: 4px
	padding: 30px 60px
	max-width: 500px
	width: 100%
	overflow: hidden
	z-index: 100
	&, *
		-webkit-filter: blur(0) !important
	&::before
		content: ''
		background: #1d2323 url(../img/sl01.jpg) 35% center no-repeat
		position: absolute
		width: 100%
		height: 100%
		left: 0
		top: 0
		z-index: -1
		animation: bgSize 3s 1 ease-in-out;
		background-size: cover
	.fancybox-close-small
		color: #fff
	h2
		text-align: center
		font-family: $orpheus
		font-size: 2.5em
		margin-bottom: 30px
		&::after
			content: ''
			display: block
			width: 100px
			height: 6px
			background-color: #fff
			border-radius: 3px
			margin: 0 auto
	input[type="text"]
		width: 100%
		border: none
		background-color: rgba(255,255,255,.9)
		padding: 10px
		font-size: 1.125em
		margin-bottom: 20px
		box-shadow: $shadow
		opacity: 0.9
		min-height: 50px
		border-radius: 4px
	input[type="text"]:focus
		box-shadow: $shadow-hover
		opacity: 1
	.btn
		display: block
		margin: 20px auto 0
		text-transform: uppercase
		background-color: #fbc554
		color: $text
		border: none
		cursor: pointer
		padding: 10px 30px
		font-family: $font-bold
		font-size: 0.875em
		transition: $trans
		opacity: .8
		&:hover
			opacity: 1
@keyframes bgSize
	from
		transform: scale(1.3);
		background-position-x: 75%
	to
		transform: scale(1);
		background-position-x: 35%
.mobile-top-phone
	background-color: $text
	p
		color: $accent
		font-family: $font-bold
		font-size: 0.688em
		margin: 0
		line-height: 20px
		vertical-align: middle
		a
			color: #fff
			font-size: 1.455em
			margin-left: 10px
.footer-contact	p
	font-family: $font-bold
	font-size: 0.938em
	line-height: 1.35
	padding-left: 45px
	margin-bottom: 27px
	position: relative
	i
		font-size: 20px
		position: absolute
		left: 0
		line-height: 1
		top: 50%
		margin-top: -10px
a.program
	font-family: $font-bold
	font-size: 0.938em
	border-bottom: 1px solid #fff
.social-icons
	margin-top: 25px
	a
		border: 1px solid #fff
		border-radius: 50%
		width: 34px
		height: 34px
		display: inline-block
		text-align: center
		transition: $trans
		margin-left: 21px
		&:first-child
			margin-left: 0
		&:hover
			background-color: #fff
			color: #1b231f
		.fab
			vertical-align: middle
			line-height: 34px
			font-size: 18px
.content
	padding: 71px 0 100px
	p
		font-size: 1.125em
img
	display: block
	max-width: 100%
	height: auto

.delivery-block
	text-align: center
	margin: 15px 0 30px
	i
		font-size: 3em
		color: #fbb014
.fz20
	font-size: 20px
.accent
	color: $accent
hr
	padding: 0
	border: none
	border-top: medium double #999
	color: #999
	text-align: center
	&:after
		content: "\f3ac"
		font-family: Font Awesome\ 5 Brands
		display: inline-block
		position: relative
		top: -0.8em
		font-size: 1.5em
		padding: 0 0.25em
		background: white
.spec-programm
	text-align: center
	border: 1px solid #fbd9a4
	margin-bottom: 30px
	padding: 20px
	border-radius: 4px
	min-height: 276px
	position: relative
	overflow: hidden
	&::before
		content: ''
		width: 100px
		height: 100px
		position: absolute
		background-color: #fff

		border-radius: 100%
		left: -50px
		bottom: -50px
		transition: all 1s ease
		z-index: -1
	&:hover::before
		width: 150%
		height: 150%
		border-radius: 0
		background-color: #fbd9a4
	h3
		color: $accent
	p
		line-height: 1.2
	img
		display: inline-block
.blur
	-webkit-filter: blur(1.5px)
.xoo-wsc-product a.xoo-wsc-remove
	pointer-events: auto
.woocommerce-cart-form .product-thumbnail a, .xoo-wsc-product a
	pointer-events: none
.woocommerce-cart-form .product-name a:first-child
	pointer-events: none
	color: $text
	font-size: 1.2em
.wickedpicker
	font-size: 1.25em
	height: 145px
.wickedpicker__close
	color: $accent
	font-size: 14px
	top: 1px
	right: 2px
	opacity: 0.9
	&:hover
		opacity: 1
	&::before
		content: 'закрыть'
.clearable-picker span
	position: absolute
	right: 10px
	top: 50%
	margin-top: -15px
	display: block
	width: 30px
	height: 30px
	font-size: 2.2em
	color: #a80d26
	cursor: pointer
	line-height: 30px
	text-align: center
	border-radius: 50%
	border: 1px solid
.wickedpicker__title
	background: #fbb014
	color: #1b231f
	padding-top: 10px
	padding-bottom: 13px
.wickedpicker__controls
	padding: 5px 0
.wickedpicker__controls__control-up::before
	content: '+'
.wickedpicker__controls__control-down::after
	content: '–'
.woocommerce-privacy-policy-text p
	color: #999
//Слово - "Подытог"
.cart-subtotal
	display: none
// END OTHER STYLE

// WOO PAYMENT METHODS
.payment_methods
	margin: 0
	padding: 0
	list-style: none
	label
		font-size: 20px
		margin-left: 10px
		color: $accent
	.payment_box
		border: 1px solid #eaeaec
		padding: 10px 15px 0
		max-width: 500px
	.wc_payment_method
		margin-bottom: 10px
// END WOO PAYMENT METHODS

// WOOCOMMERCE
.catalogue ul.products
	width: 100%
	display: flex
	align-items: stretch
	flex-wrap: wrap
	justify-content: space-between
.term-picca li.product
	min-height: 505px
.catalogue .columns-3 ul.products li.product
	margin-right: 0
	width: 270px
li.product 
	border: 1px solid #c6c6c6
	border-radius: 4px
	padding: 21px 15px 70px
	transition: $trans
	text-align: center
	max-width: 270px
	position: relative
	&:hover
		box-shadow: 0 4px 15px 0 rgba(0,0,0,.15)
	img
		border-radius: 4px
		margin-bottom: 24px
		margin-left: auto
		margin-right: auto
	h3
		font-family: $orpheus
		text-transform: uppercase
		font-size: 1em
		line-height: 1.4
		margin: 0
	.title-eng
		color: $accent
		text-transform: uppercase
		font-size: 0.875em
		font-family: $font-bold
		position: relative
		top: -3px
		display: inline-block
		line-height: 1.2
		max-width: 170px
	.woocommerce-product-details__short-description
		margin-top: 4px
		margin-bottom: 25px
		p
			color: #575755
			font-size: 0.875em
			line-height: 1.1
			margin: 0
	.characteristics
		margin-bottom: 13px
		line-height: 1
		font-size: 1.125em
		span
			font-family: $orpheus
			position: relative
			&::before
				color: #a80d26
				position: absolute
				top: -10px
				font-size: 0.611em
				width: 100%
				text-align: center
				padding-right: 17px
			&.charact-gramm::before
				content: 'г'
			&.charact-ml::before
				content: 'мл'
			&.charact-calories::before
				content: 'ккал'
				padding: 0
	.price
		font-size: 1.250em
		color: $accent
		font-family: $orpheus
		.woocommerce-Price-currencySymbol
			margin-left: 5px
	& > .cart
		margin-left: auto
		margin-right: auto
		position: absolute
		left: 50%
		margin-left: -91.5px
		bottom: 21px
		z-index: 100
	&.product-type-simple form.cart, .woocommerce-variation-add-to-cart
		border: 1px solid $accent
		background-color: #fff
		max-width: 183px
		display: flex
		justify-content: space-between
		align-items: center
		height: 36px
		border-radius: 18px
		overflow: hidden
		.quantity label
			display: none
		.quantity input
			border: none
			text-align: center
			width: 94px
			padding: 0 10px
			font-family: $font-bold
			margin-left: 35px
		button
			background-color: $accent
			border: none
			height: 100%
			border-top-right-radius: 18px
			border-bottom-right-radius: 18px
			font-size: 0
			color: #fff
			padding-left: 13px
			padding-right: 15px
			cursor: pointer
			transition: $trans
			&:hover
				background-color: #fbb014
			&::before
				content: '\e801'
				font-family: fontello
				font-size: 21px
			&.added::before
				display: none
			&.added .xoo-wsc-icon-atc
				font-size: 14px
		.added_to_cart
			display: none
	div.tm-has-options, #tm-extra-product-options
		position: absolute
		top: 0
		left: 0
		padding: 21px 15px
		height: 100%
		background-color: #f7f3ea
		border-radius: 4px
		min-width: 100%
		display: none
		.cart
			margin-top: 0
			max-width: 100%
			height: auto
			border-radius: 0
			display: block
			border: none
			background-color: #f7f3ea
		.tm-extra-product-options-container
			border: 1px solid #d1d1d1
			height: 300px
			overflow-y: auto
			li
				padding: 10px 5px
				background-color: #fff
				display: flex
				align-items: center
				flex-direction: row-reverse
				&:nth-child(even)
					background-color: #f1f1f1
				.tm-quantity
					float: none
					margin: 0 0 0 5px
				.tm-field-display
					display: flex
					align-items: center
					.price
						min-width: 35px
						margin-left: 5px
		.icon-cancel
			position: absolute
			top: 15px
			right: 15px
			font-size: 13px
			cursor: pointer
			transition: $trans
			&:hover
				transform: rotate(180deg)
	.tm-extra-product-options .tm-epo-field-label
		text-transform: uppercase
		font-size: 0.813em
		line-height: 1.2
		font-family: Myriad Pro, sans-serif
		margin: 0 auto 17px
		max-width: 150px
	.tm-custom-prices-total
		text-align: left
		margin: 0
		padding: 0
		.tm-extra-product-options-totals
			margin: 0
	.tm-unit-price, .tm-fee-totals, .tm-final-totals, .tm-options-totals, .tm-subscription-fee
		padding: 0
		margin: 0
		border: 0 none
		float: none
		font-size: 14px
	.tm-extra-product-options-totals .amount.final
		font-size: 1.25em
	.tc-extra-product-options .tmcp-field-wrap label
		line-height: 1
		text-align: left
	.tm-extra-product-options ul.tmcp-ul-wrap.tm-extra-product-options-checkbox li.tmcp-field-wrap .tm-label
		font-weight: normal
		font-family: Myriad Pro, sans-serif
		padding: 2px !important
		font-size: 12px
	.tm-quantity
		max-width: 60px
		input
			border-color: #d1d1d1
	p.open-product-option
		position: absolute
		font-size: 15px
		line-height: 1
		bottom: 5px
		left: 10px
		border-bottom: 1px dotted #fbb014
		cursor: pointer
		margin: 0
		color: #fbb014
	.tm-extra-product-options-totals
		display: flex
		flex-wrap: wrap
		.tm-options-totals, .tm-final-totals
			flex-basis: 50%
	& > .variations_form.cart
		display: flex
		margin: 0
		position: absolute
		left: 0
		width: 100%
		align-items: center
		padding: 0 10px
	.single_variation_wrap
		display: flex
		.woocommerce-variation-price
			margin-right: 6px
		.woocommerce-variation-add-to-cart .quantity input
			width: 50px
			padding: 0 1px 0 10px
			margin-left: 0
		.woocommerce-variation-add-to-cart button
			padding-left: 7px
			padding-right: 10px
.variations
	td
		border: none
		padding: 0
		&.label
			display: none
		&.value
			display: flex
			border: 1px solid #dddddd
			border-radius: 3px
			width: 80px
			overflow: hidden
			div
				width: 50%
			input
				position: absolute
				height: 0
				width: 0
				visibility: hidden
				opacity: 0
				&:checked + label
					background-color: #fd8426
					border-color: #fd8426
					color: #fff
			label
				margin-bottom: 0
				width: 100%
				color: #a8a8a8
				cursor: pointer
			.reset_variations
				display: none
// END WOOCOMMERCE PRODUCT
	
// WOCOOMMERCE CART PAGE
.woocommerce-cart table.cart img
	width: 70px
.woocommerce a.remove
	display: block
	font-size: 2em
	height: 26px
	width: 26px
	line-height: 28px
	vertical-align: middle
	border-radius: 50%
	color: $accent
	text-decoration: none
	font-weight: 700
	border: 1px solid $accent
	margin-left: auto
	margin-right: auto
	&:hover
		color: #fff
		background: $accent
table.shop_table_responsive tr td.product-remove a
	text-align: center
.woocommerce-Price-amount
	color: $accent
	font-family: $orpheus
	.woocommerce-Price-currencySymbol
		margin-left: 5px
button[name="update_cart"]
	display: inline-block
	border: 1px solid #a80d26
	text-transform: uppercase
	color: #fff
	background-color: #a80d26
	line-height: 1.2
	padding: 13px 23px
	border-radius: 23px
	transition: all .3s ease
	font-size: 0.750em
	font-family: $font-bold
	cursor: pointer
	float: right
	&:hover
		background-color: #fff
		color: $accent
.woocommerce .cart-collaterals .cart_totals, .woocommerce-page .cart-collaterals .cart_totals
	float: right
	width: 48%
.woocommerce table.shop_table
	margin-bottom: 25px
.woocommerce .cart-collaterals::after
	content: ''
	display: block
	clear: both
.checkout-button.button
	text-align: center
	display: block
	background: #fbb014
	color: $text
	font-size: 1
	border-radius: 4px
	padding: 5px 10px
	transition: $trans
	font-family: $font-bold
	&:hover
		background: $accent
		color: #fff
// END WOCOOMMERCE CART PAGE

// WOO SINGLE PRODUCT
.single-product
	margin: 0
	padding: 0
	list-style: none
	li.product-type-simple
		padding-bottom: 21px
	li.tm-has-options
		padding-bottom: 21px
		.variations_form
			display: flex
			align-items: center
		.variations_form, .tc-totals-form, .cart
			position: relative
	form.cart
		margin-left: auto
		margin-right: auto
// END WOO SINGLE PRODUCT

// WOOCOMMERCE PAGINATION
.woocommerce-pagination ul
	margin: 0
	padding: 0
	list-style: none
	li
		display: inline-block
		.page-numbers
			background: #fbb014
			color: #1b231f
			border-radius: 4px
			padding: 1px 10px
			border: 1px solid #fbb014
			color: #1b231f
			&:hover, &.current
				background: none
// END WOOCOMMERCE PAGINATION
// WOOCOMMERCE BILLING FORM
.woocommerce-billing-fields h3
	margin-bottom: 35px
.woocommerce-billing-fields .form-row
	position: relative
	margin-bottom: 30px
	label
		width: 98%
		font-size: 20px
		position: absolute
		background-color: #fff
		left: 1%
		line-height: 1
		top: 5px
		padding: 15px
		margin: 0
		cursor: auto
		transition: $trans
	label.active
		left: 10px
		width: auto
		top: -9px
		padding: 0 7px
	input
		width: 100%
		font-size: 18px
		padding: 15px 20px
		font-family: Tahoma, Verdana, Segoe, sans-serif
		&:focus
			border-color: #fbb014
// END WOOCOMMERCE BILLING
@import "media" // Always at the end
